.ei-flex-container {
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove #eeede0;
    line-height: normal;
    padding: 0px;
    margin: 0 0 5px;
}

.ei-icon {
    flex: none;
    border-style: none;
    justify-self: center;
    align-self: center;
    height: 40px;
    width: 40px;
}

.ei-item-details {
    flex: 1;
    text-align: left;
    padding-left: 10px;
    align-self: center;
}

.ei-name {
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ei-type {
    font-size: 12px;
    color: #4b4a44;
}
